.venv/
data/
baseline_6/tiny-imagenet-200.zip
baseline_6/models/tinyimagenet.pth
baseline_6/models/
baseline_6/birealnet18
baseline_6/wandb
baseline_6/__pycache__
baseline_6/cursor/
baseline_6/old/
baseline_6/logs/
baseline_6/AnalysisCode/
baseline_6/processed_data/
dog_behaviours/processed_data
dog_behaviours/logs
dog_breedsprocessed_data
PlotNeuralNet/
